@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.aside{
    width: 100%;
    height: 100vh;
    max-width: rem(240);
    padding: 1em;
    padding-left: 0;
    overflow-y: scroll;
    display: none;
    background: #28243D;

    @include breakpoint-lg{
       display: block;
    }
    &--menu-open{
        position: fixed;
        inset:0;
        z-index: 10;
        display: block;
    }
    &__nav{
        margin-top: 0.5rem;
    }
    &__menu{
        @include flex-cloumn;
        gap: 1.5rem;
        margin-top: 2rem;
    }
    &__list{
        padding-left: 1em;
        padding-block: 0.2em;
        border-radius:0px 20px 20px 0px;

        &:hover{
            text-decoration: none;
            background-color: rgba(165, 108, 246, 0.06);
        }
        &.active{
            box-shadow: $clr-box-shadow 0px 4px 8px -4px;
            background-image: linear-gradient(98deg, $clr-bg-light, $clr-bg-dark 94%);
            @include transition(all, 0.35s , ease-in-out);

            .aside__link-title{
                color:$clr-white-100;
            }
            .aside__icon{
                svg{
                    path{
                        fill:$clr-white-100;
                    }
                }
            }
        }
    }
    &__link{
        display: flex;
        gap:1rem;
        opacity:0.8;
        color:$clr-white-100;
    }
    &__link-title{
        font-size: rem(20);
    }
}

.icon{
    svg{
     width: rem(28);
     height: rem(28);
     display: flex;
    }
 }
.overlay{
    position: fixed;
    inset:0;
   @include full-dimensions;
    background-color: rgba(14, 1, 27, 0.65);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    visibility: hidden;
    opacity: 0;
    display: none;

    &--active{
        visibility: visible;
        opacity: 1;
        display: block;
    }
}